@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap');

body{
    background-color: whitesmoke;
}



#pos-header{
    margin: 25px;
    border: 2px solid rgb(180, 180, 180);
    padding: 10px;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    width: 70vw;
}

#pos-header p{
    font-size: 19px;
    width: 80vw;
}

.swiper-slide {
  border-radius: 20px;
  overflow: hidden;
}

.image-slider{
    border-radius: 20px;
    height: 450px;
    object-fit: cover;
}

.inform{
    display: flex;
    overflow: hidden;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: 0 25px;
}



#pesquisar-container{
    display: flex;
    justify-content: center;
    width: 30%;
    margin: 15px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 25px;
    margin: 15px auto;
    background-color: rgb(255, 255, 255);
}
#pesquisar{
    display: flex;
    width: 30vw;
    height: 25px;
    outline: 0;
    justify-content: center;
    font-size: 16px;
}

#checkbox-container{
    display: flex;
    justify-content: center;
    gap: 15px;
}

#checkbox-container > div input[type="checkbox"]{
    transform: scale(1.5);
    margin-right: 5px;
}
#checkbox-container > div input[type="checkbox"] label{
    transform: scale(1.5);
}

.postagem{
    display: flex;
    gap: 15px;
    flex-direction: row;
    color: inherit;
    text-decoration: none;
}
.postagem img{
    width: 250px;
    height: 150px;
    border-radius: 5px;
}

.barrer{
    width: 100%;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.2);
    margin: 25px 0;
    height: 6px;
}

.aboutus-container{
    display: flex;
    justify-content: start;
    margin: 25px;
}


.aboutus-content{
    width: 60vw;
}

.aboutus-content p{
    margin: 5px;
    font-size: 16px;
}

.aboutus-content h2{
    font-family: 'Merriweather', serif;
    font-size: 35px;
    color: brown;
}

