@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

*{
    font-family: 'Funnel Display', sans-serif, Arial;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

header{
    margin-bottom: 5px;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: antiquewhite;
}

h1{
    margin: 15px;
    
    color: rgb(110, 51, 96);
    font-family: 'Merriweather', serif;
}

body{
    background-color: whitesmoke;
}

#nav-list{
    margin-left: auto;
    margin-right: 55px;
}

#nav-list-content{
    display: flex;
    flex-direction: row;
    gap: 35px;
}

.list-links{
    position: relative;
    color: rgb(110, 51, 96);
    font-size: 17px;
    text-decoration: none;
    cursor: pointer;
}

.list-links::after{
    content: "";
    position: absolute;
    left: -5%;
    width: 110%;
    height: 2px;
    bottom: -6px;
    background-color: rgb(110, 51, 96);
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.list-links:hover::after{
    transform: scaleX(1);
}

#pos-header{
    margin: 25px;
    border: 2px solid rgb(180, 180, 180);
    padding: 10px;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    width: 70vw;
}

#pos-header p{
    font-size: 19px;
    width: 80vw;
}

.swiper-slide {
  border-radius: 20px;
  overflow: hidden;
}

.image-slider{
    border-radius: 20px;
    height: 450px;
    object-fit: cover;
}

.inform{
    display: flex;
    overflow: hidden;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw;
    margin: 20px auto;
}

#pesquisar-container{
    display: flex;
    justify-content: center;
    width: 30%;
    margin: 15px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 25px;
    margin: 15px auto;
    background-color: rgb(255, 255, 255);
}
#pesquisar{
    display: flex;
    width: 30vw;
    height: 25px;
    outline: 0;
    justify-content: center;
    font-size: 16px;
}

#checkbox-container{
    display: flex;
    justify-content: center;
    gap: 15px;
}

#checkbox-container > div input[type="checkbox"]{
    transform: scale(1.5);
    margin-right: 5px;
}
#checkbox-container > div input[type="checkbox"] label{
    transform: scale(1.5);
}

.postagem{
    display: flex;
    gap: 15px;
    flex-direction: row;
}
.postagem img{
    width: 250px;
    height: 150px;
    border-radius: 25px;
}