@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');

*{
    font-family: 'Funnel Display', sans-serif, Arial;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

header{
    margin-bottom: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: antiquewhite;
}

h1{
    margin: 15px;
}

#nav-list{
    margin-left: auto;
    margin-right: 55px;
}

#nav-list-content{
    display: flex;
    flex-direction: row;
    gap: 35px;
}

#pos-header{
    margin: 25px;
    border: 2px solid rgb(180, 180, 180);
    padding: 10px;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    width: 70vw;
}

#pos-header p{
    font-size: 19px;
    width: 80vw;
}

.swiper-slide {
  border-radius: 20px;
  overflow: hidden;
}

.image-slider{
    border-radius: 20px;
    height: 450px;
    object-fit: cover;
}

.inform{
    display: flex;
    overflow: hidden;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70vw;
}

#pesquisar-container{
    display: flex;
    justify-content: center;
    width: 30%;
    margin: 15px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 25px;
    margin-left: 35%;
}
#pesquisar{
    display: flex;
    width: 30vw;
    height: 25px;
    outline: 0;
    justify-content: center;
    font-size: 16px;
}

#checkbox-container{
    display: flex;
    justify-content: center;
    gap: 15px;
}

#checkbox-container > div input[type="checkbox"]{
    transform: scale(1.5);
    margin-right: 5px;
}
#checkbox-container > div input[type="checkbox"] label{
    transform: scale(1.5);
}

.postagem{
    display: flex;
    gap: 15px;
    flex-direction: row;
}
.postagem img{
    width: 250px;
    height: 150px;
    border-radius: 25px;
}