@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

main{
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: whitesmoke;
}
section{
    margin: 10px 25px;
}


.mod-container{
    display: flex;
    flex-direction: column;
}


.equipe-list{
    list-style: none;
    padding: 0;
    font-size: 20px;
}

.titulo-mod{
    font-size: 40px;
    font-family: "Permanent Marker", cursive;
    color: rgb(45, 48, 65);
}

.img-mod{
    width: 720px;
    margin: 10px 0;
    height: 410px;
    border: 2px solid rgb(45, 48, 65);
    border-radius: 5px;
}

.generos{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.generos h3{
    font-size: 30px;
}
.generos ul{
    display: flex;
    margin: 0 10px;
    flex-direction: row;
    padding: 0;
}

.generos ul li{
    margin: 0px 5px;
    list-style: none;
    color: aliceblue;
    background-color: rgb(74, 85, 133);
    padding: 7px;
    border-radius: 50px;
}

.sinopse-container{
    width: 50vw;
    margin-right: 25px;
    margin-bottom: 15px;
}

.sinopse-container h3{
    font-size: 25px;
}
.sinopse-container p{
    font-size: 16px;
}

#grupo-sections{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    align-items: center;
}

.downloads-section{
    margin: 0 150px;
}

.downloads-links{
    list-style: none;
    margin-top: 15px;
    font-size: 20px;
    padding: 0;
}

.downloads-links li{
    color: white;
}

.downloads-links li a{
    color: inherit;
    text-decoration: none;
    background-color: rgb(74, 85, 133);
    padding: 8px;
    border-radius: 10px;
}

.downloads-links li a:hover{
    cursor: pointer;
    color: gray;
    background-color: rgb(29, 33, 51);
}